<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
    
      <% include ../static/partials/messages.ejs %>

      <h1>Edit Wiki</h1>

      <form action="/wiki/<%= wiki.slug %>/update" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title"
            value="<%= messages.form ? messages.form[0].title : wiki.title %>" />
          <small class="text-muted" id="titleHelp">title must be 3 or more characters in length.</small>
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="10" class="form-control" name="body" aria-describedby="bodyHelp" placeholder="Enter Body"><%= messages.form ? messages.form[0].body : wiki.body %></textarea>
          <small class="text-muted" id="bodyHelp">body must be 50 or more characters in length.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>