<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
    
      <% include ../static/partials/messages.ejs %>

      <h1>Edit Wiki</h1>

      <form action="/wiki/<%= wiki.slug %>/update" method="post">
        <% include ./partials/createEditForm.ejs %>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>