<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <div class="d-flex justify-content-between align-items-center">
        <h1><%= wiki.title %></h1>
        <% if (wiki.private) { %>
          <span class="badge badge-primary badge-pill">Private</span>
        <% } %>
      </div>

      <%- wiki.body %>
      
      <% if (policy.edit()) { %>
        <a href="/wiki/<%= wiki.slug %>/edit" class="btn btn-warning">Edit</a>
      <% } %>

      <% if (policy.destroy()) { %>
        <form style="display:initial" action="/wiki/<%= wiki.slug %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      <% } %>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>