<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>

      <main class="container">

        <% include ../static/partials/messages.ejs %>
        
        <h1>Sign in</h1>

        <div class="row">
          <div class="col-md-8">
            <form method="POST" action="/users/sign_in">
              <div class="form-group">
                <label>Username:</label>
                <input type="text" name="username" aria-describedby="usernameHelp" placeholder="Enter Username" class="form-control" 
                  value="<%= messages.form ? messages.form[0].username : '' %>" />
              </div>
              
              <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" aria-describedby="passwordHelp" placeholder="Enter Password" class="form-control"
                  value="<%= messages.form ? messages.form[0].password : '' %>" />
              </div>
              <br/>

              <% include ./payment/stripe.ejs %>

              <input type="submit" value="Sign In" class="btn btn-primary"/>
            </form>
          </div>
        </div>
      </main>

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>